
body {
    background-color: #ffffff;
}

body>div {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

body>div>div {
    position: absolute;
}

body>div>div>a {
    display: block;
    width: 100%;
    height: 100%;
}
